.mod-card {
    background-color:$white;
    border-radius:px(8);
    padding:px(8);
    box-shadow: $box-shadow-xs;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: $spacing-xs;
    }

    main {
        margin-bottom: $spacing-sm;
    }

    footer {
        margin-bottom: $spacing-xs;
    }
}