input {
    background-color:$white;
    border: px(1) solid $dark-200;
    border-radius: px(4);
    padding: $spacing-xs;

    .--focus {
        border-color:$primary-100;
    }
}

select {
    background-color:$white;
    border: px(1) solid $dark-200;
    border-radius: px(4);
    padding: $spacing-xs;

    &.--focus {
        border-color:$primary-100;
    }
}

textarea {
    background-color:$white;
    border: px(1) solid $dark-200;
    border-radius: px(4);
    padding: $spacing-xs;

    &.--focus {
        border-color:$primary-100;
    }
}